.header {
    position: fixed;
    top:0;
    left:18%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 90%;
    padding-top: 2%;
  }

  .cards {
    margin-top: 25%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
  }
  
  .card {
    border: 1px solid yellow;
    width: 180%;
    height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-top: 50%;
  }
  
  .card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 1px;
  }
  