
  .cabecera-CreateProfile {
    position: absolute;
    top: 0;
    left: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #588147;
    color: black;
    width: 75%;
    padding-top: 2%;
  }
  .cabecera-Update-Profile{
    position: absolute;
    top: 0;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #588147;
    color: black;
    width: 70%;
    padding-top: 2%;
  }
  .Update-Profile{
    margin-left: 25%;
  }
  .formulario {
   
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 15%;
    width: 92%;
    padding: 5%;
  }
  
  .formulario label{
   font-weight: bolder ;
  }

  textarea,
  select,input {
    margin-top: 2%;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    
  }

textarea{
  resize: none;
  height: 80px;
}

/* checkBoxes */
.generos {
  margin-top: 3%;
  margin-bottom: 3% ;
  display: flex;
  flex-wrap: wrap;
  gap: 14px; /* Espacio entre los checkboxes */
}

.idiomas{
  margin-top: 3%;
  margin-bottom: 3% ;
  display: flex;
  flex-wrap: wrap;
  gap: 13px; /* Espacio entre los checkboxes */
}

input[type="checkbox"] {
  appearance: none; /* Eliminar el estilo nativo del checkbox */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px; /* Ancho del checkbox */
  height: 16px; /* Alto del checkbox */
  border-radius: 30%; /* Hacer el checkbox redondo */
  border: 2px solid black; /* Establecer el color del borde */
  background-color: white; /* Establecer el color de fondo */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

input[type="checkbox"]:checked {
  background-color: #588147; /* Cambiar el color de fondo al estar seleccionado */
}

  
.button-createPerfil {
  margin-top: 5%;
  background-color: #588147;
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button-createPerfil:hover{
  background-color: black;
  color: white;
  border: 1px solid #588147;
}
  